
.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border:  solid black 1px;
}

.square {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border: solid #000000 1px;
}

.mole {
    background-color: blue;
}